---
const { label, value } = Astro.props;
---
<!-- Filter button component -->
<button
        type="button"
        class="btn btn--subtle btn--sm blog-filter"
        data-filter={Astro.props.value}
        aria-pressed="false"
>
    {Astro.props.label}
</button>
